.main-header {
  margin: 0 auto;
  padding: 20px;
  max-width: 1000px;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;

  h1 {
    color: #333;
    display: inline-block;
    margin: 3px 0;
  }
  .mini-cart {
    float: right;
    cursor: pointer;

    &:after {
      font-size: 2rem;
      content: "\1f6d2";
    }
  }
}

.products {
  margin: 0 auto;
  max-width: 1000px;

  .checkout {
    padding: 20px;
  }
}